.intro {
    height: 100vh;
}

.intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.intro h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color:  white;
}

.intro section {
    height: 100vh;
    color: black;
}

section h1 {
    padding-top: 200px;
    text-align: center;
    font-size: 80px;
}

main {
    direction: ltr;
    padding: 0 10px;
    display: inline-block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main2 {
    margin-top: 200px;
}

.main2 img {
    width: 60%;
    height: 60%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20%;
    margin-right: 20%;
}

.main2-title {
    color: #1b1b1b;
    font-family: Myriad Pro;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.main2-title1 {
    color: #1b1b1b;
    font-family: Myriad Pro;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: -4px;
    margin-left: 20%;
    margin-right: 20%;
}

.main2-subtitle {
    color: #8b8b8b;
    font-family: 'Noto Sans Kr',
    '맑은 고딕',
    'Malgun Gothic',
    sans-serif;
    text-align: left;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.0;
    letter-spacing: -1px;
    line-height: 22px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}


/* MAIN3 */
.main3 {
    margin-top: 100px;
}

.main3 img {
    width: 60%;
    height: 60%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20%;
    margin-right: 20%;
}

.main3-title {
    color: #1b1b1b;
    font-family: Myriad Pro;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.main3-subtitle {
    color: #8b8b8b;
    font-family: 'Noto Sans Kr',
    '맑은 고딕',
    'Malgun Gothic',
    sans-serif;
    text-align: left;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.0;
    letter-spacing: -1px;
    line-height: 22px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}
/* MAIN3 */
.main3 {
    margin-top: 100px;
}

.main3 img {
    width: 60%;
    height: 60%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20%;
    margin-right: 20%;
}

.main3-title {
    color: #1b1b1b;
    font-family: Myriad Pro;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.main3-subtitle {
    color: #8b8b8b;
    font-family: 'Noto Sans Kr',
    '맑은 고딕',
    'Malgun Gothic',
    sans-serif;
    text-align: left;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.0;
    letter-spacing: -1px;
    line-height: 22px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}
/* main4 */
.main4 {
    margin-top: 100px;
}

.main4 img {
    width: 60%;
    height: 60%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20%;
    margin-right: 20%;
}

.main4-title {
    color: #1b1b1b;
    font-family: Myriad Pro;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.main4-subtitle {
    color: #8b8b8b;
    font-family: 'Noto Sans Kr',
        '맑은 고딕',
        'Malgun Gothic',
        sans-serif;
    text-align: left;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.0;
    letter-spacing: -1px;
    line-height: 22px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}
/* outro */
.outro {
    height: 70%;
    width : 100%;
    margin-top: -70px;
}

.outro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* footer */
.footer {
    display: inline-block;
    height: 200px;
    width: 100%;
    padding: 20px 0;
    border: 0px;
    background: #1b1b1b;
    margin-top: 40px;
}

.container {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    height: 100px;
    position: relative;
}

.container div {
    text-align: left;
    display: table;
}

.container h1 {
    color: #2E2E2E;
    font-family: 'GillSansMTPro-Medium',
        'NotoSans-Regular',
        Helvetica Neue,
        Helvetica,
        Arial,
        Apple SD Gothic Neo,
        Malgun Gothic,
        dotum,
        sans-serif !important;
    margin-left: 20%;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 12px;
}

.container p {
    color: #686a6c;
    font-family: 'GillSansMTPro-Medium',
        'NotoSans-Regular',
        Helvetica Neue,
        Helvetica,
        Arial,
        Apple SD Gothic Neo,
        Malgun Gothic,
        dotum,
        sans-serif !important;
    margin-left: 20%;
    font-size: 6px;
}

.container-left {
    position: absolute;
    width: 50%;
    height: 100%;
}

.container-right {
    position: absolute;
    width: 50%;
    height: 100%;
}